body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator-container {
  width: 420px;
  border: 2px solid #343eff;
  border-radius: 10px;
  margin: 10px;
}

.keyboard-container {
  align-items: center;
  margin-bottom: 4px;
}

.keyboard-container > button{
  width: 60px;
}

.displayer {
  text-align: center;
}

.screen {
  text-align: right;
  height: 1.5em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  overflow: hidden;
}

.input-display {
  width: 90%;
  text-align: right;
  font-size: 20px;
  border: none;
  background-color: #ffffff;
}